.App {
  text-align: center;
  max-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #c9c9c9 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #c9c9c9;
  border-radius: 5px;
  border: 3px outset #ffffff;
}

.contain {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  max-height: 97vh;
  max-width: 99%;
}

.treeview {
  width: 25%;
  text-align: left;
}

.fileinput {
  width: 74%;
  max-height: 90vh; /* Maximum height of the viewport */
  text-align: left;
}

h1 {
  margin-bottom: 20px;
}
